.EditContact-ptb-2 {
    padding-top: 2px !important;
    padding-bottom: 2px !important;
}

.EditContact-plr-8 {
    padding-left: 8px !important;
    padding-right: 8px !important;
}
.EditContact-hg-700 {
    height: 700px;
}
.EditContact-hg-805 {
    height: 805px;
}

.EditContact-mx-8 {
    margin-left: 80px;
    margin-right: 80px;
}

.EditContact-mt-10px {
    margin-top: 10.5px;
}

.EditContact-card-imagen {
    /* max-width: 85%; */
    max-width: 100%;
}

.EditContact-ft-14 {
    font-size: 14px !important;
}

.EditContact-pl-0 {
	padding-left: 0px !important;
}
.EditContact-pr-0 {
	padding-right: 0px !important;
}
.EditContact-wd-65 {
	max-width: 65px !important;
}
.EditContact-wd-80 {
    max-width: 80%;
}
.EditContact-wd-100 {
	max-width: 100px !important;
}
.EditContact-wd-150 {
	max-width: 150px !important;
}
.EditContact-wd-164 {
	max-width: 164px !important;
}
.EditContact-wd-170 {
	max-width: 170px !important;
}
.EditContact-wd-300 {
	max-width: 300px !important;
}
.EditContact-wd-320 {
	max-width: 320px !important;
}
.EditContact-wd-324 {
	max-width: 324px !important;
}
.EditContact-wd-400 {
	max-width: 400px !important;
}
.EditContact-wd-550 {
	max-width: 550px !important;
	width: 550px !important;
}
.EditContact-wd-600 {
	max-width: 600px !important;
}
