.ViewContact-ptb-2 {
    padding-top: 2px !important;
    padding-bottom: 2px !important;
}

.ViewContact-plr-8 {
    padding-left: 8px !important;
    padding-right: 8px !important;
}
.ViewContact-hg-805 {
    height: 805px;
}

.ViewContact-wd-80 {
    max-width: 80%;
}

.ViewContact-wd-250 {
    max-width: 250px !important;
    width: 250px !important;
}

.ViewContact-wd-300 {
    max-width: 300px !important;
    width: 300px !important;
}

.ViewContact-wd-400 {
    max-width: 400px !important;
    width: 400px !important;
}

.ViewContact-wd-450 {
    max-width: 450px !important;
    width: 450px !important;
}

.ViewContact-wd-475 {
    max-width: 475px !important;
    width: 475px !important;
}

.ViewContact-fs-14 {
    font-size: 14px !important;
}

.ViewContact-mx-8 {
    margin-left: 80px;
    margin-right: 80px;
}

.ViewContact-mt-10px {
    margin-top: 10.5px;
}

.ViewContact-card-imagen {
    max-width: 90%;
}

